<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" formControlName="username">
            <div *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
                <div *ngIf="loginForm.get('username')">Username is required.</div>
            </div>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password">
            <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                <div *ngIf="loginForm.get('password')">Password is required.</div>
            </div>
        </div>
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
</div>
<router-outlet></router-outlet>